<BarItem>
  <InputFile id="fileInput" style="display:none;" />
    <label class="b-bar-link" for="fileInput">
      <BarIcon IconName="IconName.FileUpload" />
      Load ROM file
    </label>
</BarItem>